/*---Calculator---*/

.btn_css_calculator {
  width: 150px;
  height: 100px;
  font-size: 75px;
  border-radius: 10px;
  margin: 10px;
  background-color: #000;
  color: #fff;
  border-style: none;
};

#myform {
  margin-left:225px;*
  margin-top:20px;
}

h1 {
  text-align: center;
  font-size: 64px;
  margin-top: 20px;
}

#large_btn {
  width: 675px;
  height: 100px;
  text-align: center;
  background-color: #1f80c9;
}

.#plus_btn,  {
  background-color: #cc5c11;
}

.#moins_btn,  {
  background-color: #ba55d3;
}

.#multiplier_btn {
  background-color: #7db1b2;
}

#c_btn {
  background-color: #cc0000;
}

#diviser_btn {
  background-color: green;
}
